html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: inherit;
}

html, body {
    height:100%;
    width:100%;
    border:  5px solid blue;
}

body {
    display: flex;
    flex-direction: column;
}

body > * {
    border: 1px solid black;
}

.each-auto-complete-item:hover{
    background-color: #888;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.genreCheckBoxes div:hover{
    background-color: #888;
}

.dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content div:hover{
    background-color: #888;
}

.show {display: block;}

.search-bar {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    padding-right: 10px;
    }

.visible {
    display: block;
    }

.search-input{
    height: 40px;
    width: 100%;
}
.search-bar{
    display: flex;
    justify-content: flex-start;
}

.formSearchInput{
    padding-top: 2px;
    margin-left: 20px;
}

.filter{
    margin-left: 20px;
    padding: 10px;
    padding-top: 5px;
    height: 30px;
    background-color: #888;
    color:white;

}

.main-content{
    height: calc(100% - 50px);
}

.movie-list{
    height: 100%;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: scroll;
}


.poster-frame{
    width: 50%;
}


.poster-image {
    width: 98%;

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    width:100%;
    height: calc(100% - 20px);
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content{
    background-color: #fefefe;
    margin: 1%;
    padding:10px;
    border: 3px solid #888;
    width: 95%;
    height: 90%;
}

.modal-frame{
    height: 100%;
    width: 100%;
    display:flex;
    justify-content: center;
}

.close{
    display: block;
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}


.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.settings-modal {
    display: none;
    position: fixed;
    z-index: 1;
    width:100%;
    height: calc(100% - 20px);
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.settings-modal-content{
    background-color: #fefefe;
    margin: 1%;
    padding:10px;
    border: 3px solid #888;
    width: 95%;
    height: 90%;
}

.settings-modal-frame{
    border: 3px solid black;
    height: 100%;
    width: 100%;
}

.video-frame{
    position: relative;
    width: 90%;
    height: 0;
    padding-bottom: 50%;
}

.iframeVideo {
    position: absolute;
    width: 100%;
    height: 100%;
}
.autocomplete-items{
    display: block;
    position: fixed;
    z-index: 99;
    background-color: rgba(255, 255, 255, .90);
}


@media screen and (min-width: 500px){
    .poster-frame{
        width: 33%;
    }
}


@media screen and (min-width: 700px) {
    .poster-frame {
        width: 25%;
    }
}

@media screen and (min-width: 1000px){
    .poster-frame{
        width: 20%;
    }
}

@media screen and (min-width: 1400px){
    .poster-frame{
        width: 15%;
    }
    .movie-list{
        justify-content: center;
    }
}



